/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #444444;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #0091FF;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  padding: 40px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #012970;
}

/* Card */
.card {
  margin-bottom: 10px;
  border: none;
}

.right-side-col {
  border-left: 1px solid #ccc;
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  /* color: #798eb3; */
  padding: 15px;
}

.card-title {
  padding: 20px 0 0 0;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-bodys {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.registeration-sec {
  background-image: linear-gradient(to right, #32C5FF , #0091ff);
  padding: 30px;
  border-radius: 20px;
}
.registeration-sec h2 span {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  font-family: sans-serif;
}
.registeration-sec h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  font-family: sans-serif;
}
.registeration-sec p {
  color: #fff;
}
.btn-more {
  padding: 12px 40px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  background-color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 40px;
  margin-right: 6px;
  margin-top: 20px;
}

.search-bar {
  min-width: 360px;
  padding: 0 12px;
}

@media (max-width: 1199px) {
.search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

.search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.search-form {
  width: 100%;
}

.search-form input {
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 20px 40px 20px 25px;
  transition: 0.3s;
  width: 100%;
  border-radius: 30px;
}

.search-form input:focus,
.search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.search-form button i {
  color: #012970;
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebars {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 258px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #32C5FF;
  border-radius: 0 80px 80px 0;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
}
.sidebars::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }

  .sidebars::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }

@media (max-width: 1199px) {
  .sidebars {
    left: -300px;
  }
}

/* @media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 270px;
  }
} */

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}


.form-control-sm {
    min-height: calc(1.5em + 0.5rem + calc(var(--bs-border-width) * 2));
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: var(--bs-border-radius-sm);
}
/* .form-control {
    display: block;
    width: 312px;
} */

.sidebar-nav .nav-item a:hover {
  background-color: #fff;
  border-radius: 30px;
}
.sidebar-nav .nav-item:hover i {
  color: #0091FF;
}
.sidebar-nav .nav-item a:hover {
  color: #0091FF;
}
.active {
  background-color: #fff;
  border-radius: 30px !important;
  color: #0091FF !important;
}
.active {
    color: #0091FF !important;
  }

.sidebar-nav .nav-heading {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  margin: 20px 0 13px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #efeeee;
  padding: 5px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #efeeee;
}


.sidebar-nav .nav-link:hover i {
  color: #0091FF;
}
.sidebar-nav .nav-link:hover a {
  color: #0091FF;
}
.active i{
  color: #0091FF !important;
}
.active {
  color: #0091FF;
}


.traing-sec {
  background-image: linear-gradient(to right, #e9f3fe , #fdfdf0);
  padding: 33px;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
}
.uplord-sec {
  background-image: linear-gradient(to right, #e9f3fe , #f9f9f9);
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
}
.right-sid {
  width: 50%;
  padding: 20px;
}
.right-sid0 {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #7070703B;
  background-color: #fff;
}
.left-sid {
  width: 50%;
}
.left-sid h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
.left-sid a {
  background-image: linear-gradient(to bottom right, #32C5FF, #0678CF);
  color: #fff;
  padding: 14px 20px;
  font-size: 14px;
  border-radius: 30px;
}

.conten-sid {
  width: 50%;
  text-align: center;
}
.conten-sid h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
.conten-sid a {
  background-image: linear-gradient(to bottom right, #32C5FF, #0678CF);
  color: #fff;
  padding: 14px 40px;
  font-size: 14px;
  border-radius: 30px;
}
.conten-sid p {
  font-size: 15px;
  font-family: 'Poppins';
}
.calend {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 20px;
}
.calend a {
  background-color: #eaedfb;
  padding: 12px 27px;
  border-radius: 20px;
}
.uplord a {
  background-image: linear-gradient(to bottom right, #32C5FF, #0678CF);
    color: #fff;
    padding: 14px 20px;
    font-size: 14px;
    border-radius: 30px;
}
.uplord {
  background-color: #E9ECEF9E;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid #7070703B;
}

/*--------------------------------------------------------------
# Dashboard
--------------------------------------------------------------*/
/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}


/* Right Side Col */
.login0 {
  position: absolute;
  top: -77px;
  right: 60px;
}

.post-item {
  margin-bottom: 25px;
  position: relative;
}

.card-body table, th, td {
  border: 1px solid #ccc;
}

.dashboard .news .post-item+.post-item {
  margin-top: 15px;
}
.news {
  margin-top: 30px;
}

.dashboard .news img {
  width: 60px;
  float: left;
  border-radius: 50px;
  height: 60px;

}
.def{
    position: absolute;
    top: -10px;
}
.post-item i {
  float: right;
  margin-top: -55px;
  margin-right: 20px;
  border: 1px solid;
  border-radius: 30px;
  width: 35px;
  padding: 0px 6px;
  height: 35px;
  font-size: 22px;
  color: #080B23;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #000;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #0091FF;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}


.dashboard .recent-sales {
  font-size: 14px;
}
/* .badge {
  color: #F7B500;
} */

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 1px solid #ccc;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 20px 0;
  font-size: 14px;
  transition: all 0.3s;
  border-top: 1px solid #cddfff;
}

.footer .copyright {
  color: #000;
  margin-left: 35px;
}

.footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #012970;
}
.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
  }
  .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    transition: 0.3;
    padding: 5px 0 5px 40px;
    transition: 0.3s;
  }
  .sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #32C5FF;
    border-radius: 0 80px 80px 0;
    overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #aab7cf transparent;
  }
  .sidebar-nav .nav-item a:hover, .sidebar-nav .nav-item a.active {
    background-color: #f4f4f4;
    border-radius: 30px;
    color: #0091FF;
}
.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}
.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #ffff;
    transition: 0.3;
    padding: 5px 0 5px 40px;
    transition: 0.3s;
}
.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}
.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}
 /* Data-Table Css */
.buttons-print {
    background-color: #32c5ff !important;
    border:#32c5ff !important;
    color: white !important;
}
button.dt-button.buttons-html5 {
    background-color: #32c5ff !important;
    margin: 0% 2px;
    border:#32c5ff !important;
    color: white !important;
}

/* label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
    color: #32c5ff;
} */
a.paginate_button.current {

    background-color: #32c5ff !important;
    border-color: #32c5ff !important;
    color: white !important;
}
div#example1_filter {
    display: none;
}
/* Data Table Css End */
